<!DOCTYPE html>
<html lang="en">
<head>
    <title>VidBits</title>
    <link rel="icon" type="image/ico" href="img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
    <link rel='stylesheet' href='stylesheets/style.css'>
</head>
<body>
<form class="input-form" action="/videos" method="post" >
    <label class="form-label" for="title">Title</label>
    <input id="title-input" name="title" maxlength="50" value="'My favorite video'"/>
    <!--{{#with newItem.errors.title as |error|}}-->
    <span class="error">Error</span>
    <!--{{/with}}-->

    <label class="form-label" for="description">Description</label>
    <textarea id="description-input" name="description">Just the best video</textarea>
    <!--{{#with newItem.errors.description as |error|}}-->
    <span class="error">Error</span>
    <!--{{/with}}-->

    <label class="form-label" for="videoUrl" >Video Url</label>
    <input id="videoUrl-input" name="videoUrl" oninput="handleChange" value="http://placebear.com/g/200/300"/>
    <!--{{#with newItem.errors.imageUrl as |error|}}-->
    <span class="error">Error</span>
    <!--{{/with}}-->

    <div class="form-navigation">
        <a href="/">
            <img class="back-arrow" src="/img/back.svg" alt="back">
        </a>
        <button class="button submit-button" id="submit-button" type="submit">
            <p>Create new</p>
        </button>

<div>Save a video</div>

</body>
</html>